body{
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: yellow;
}

#container{
  margin: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.show #heading{
  opacity: 1;
}

::-webkit-scrollbar { 
  width: 0 !important
}

#sizer{
  height: 300vh;
}

#heading{
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-style: normal;
  font-family: 'Helvetica', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  opacity: 0;
  transition:opacity ease 0.5s;
  pointer-events: none;
}

.vertical{
  font-size: 5vw;
}

.horizontal{
  font-size: 5vw;
}